body{
    margin: 0;
    background-color: #eee;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: cover;
}
.logo{
    height: 55px;
    padding: 3px;
    margin-left:180px;
}
.navbar{
    top: 0;
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1000;
}
.dropdown{
    margin-top:80px;
    display: flex;
    margin-left: 180px;
}
svg{
    height:75px;
    width:75px;
}
