body{
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    height: 50px;
    padding: 3px;
    margin-left:150px;
}
.navbar{
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1000;
}
.button{
    position: relative;
    top: 70px;
    left:160px;
    height: 25px;
    border:none;
    border-radius: 5px;
    background-color: rgba(46, 61, 132, 0.769);
    color:white;
    margin-left: 15px;
}
.button:hover{
    background-color: rgb(35, 191, 35);
}
h3{
    position: relative;
    left:20px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    top:10px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left:20px;
    top:10px;
}

.lock{
    position: relative;
    bottom:140px;
    height: 130px;
    width: 130px;
    left: 215px;
}
.upper-form {
    border: none;
    position: absolute; 
    top: 120px;
    left: 75%; 
    transform: translateX(-50%);
    background-color: white;
    width: 340px;
    height: 160px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.form-wrapper {
    margin-top: 255px;
    width: 300px;
    position: absolute; 
    left: 75%; 
    transform: translateX(-50%); 
    padding: 20px;
    background-color: rgb(235, 235, 235);
    border: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.inputgroup input{
    margin-top: 10px;
    padding:10px 20px;
    width: 250px;
    outline: none;
    border: 1px solid rgb(209, 199, 199);
    border-radius: 5px; 
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    z-index: 10000;

 }
 
 .inputgroup input:focus{
     border: 1px solid rgb(88, 174, 255);
     box-shadow: 1px 2px 8px rgba(88, 174, 255, 0.587), 0px 0px 2px rgba(88, 174, 255, 0.591);
 }
.btn-login{
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(24, 173, 24);
    color: white;
    width: 70px;
}
.btn-login:hover{
    background-color: rgb(1, 114, 1);
}
.login-link{
    font-size: 15px;
    margin-left: 20px;
}

.login-link a{
    color: rgb(68, 136, 237);
}
.table{
    height:500px;
    width: 100%;
    margin-top:35%;
    background-color: white;
}
table, th, td {
    position: relative;
    border:1px solid rgb(212, 212, 212);
    border-collapse: collapse;
    width: 80%;
    text-align: left;
}
table{
    top: 5%;
    margin-left: auto;
    margin-right: auto;
}
th{
    height: 10px;
    font-weight: lighter;
    background-color: rgb(197, 230, 245);
    border:1px solid rgb(212, 212, 212);
    color: rgb(48, 84, 147);
    padding: 10px;
}   
td{
    padding: 20px;
}
.footer{
    position: relative;
    height: 20px;
    width: 99.2.5%;
    background-color: rgb(188, 235, 247);
    border: 1px solid rgb(107, 177, 230);
    text-align: center;
    color: rgb(90, 131, 162);
    padding: 6px;
}

.inputgroup .result {
    font-size: 15px;
    color: red;
    margin-bottom:10px;
}

.inputgroup.error input{
    border-color: red;
}

